<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.jp.rough.nnkr"
    android:versionCode="6"
    android:versionName="5" >

<uses-sdk android:minSdkVersion="14"
          android:targetSdkVersion="17"
          android:maxSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="co.jp.rough.nnkr.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="behind" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 配牌確認アクティビティの定義 -->
        <activity
            android:name="co.jp.rough.nnkr.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="behind" >
        </activity>

        <!-- 登録アクティビティの定義 -->
        <activity
             android:name="co.jp.rough.nnkr.SimpleMajanActivity" android:label="@string/app_name"
             android:screenOrientation="behind"
         />

        <!-- 何切るアクティビティの定義 -->
        <activity
             android:name="co.jp.rough.nnkr.NnkrActivity" android:label="@string/app_name"
             android:screenOrientation="behind"
        />

        <!-- 何切る解答アクティビティの定義 -->
        <activity
             android:name="co.jp.rough.nnkr.NnkrAnswerActivity" android:label="@string/app_name"
             android:screenOrientation="behind"
        />

    </application>

<uses-permission android:name="android.permission.INTERNET" />

</manifest>